[advice]
  useCoreFSMonitorConfig = false

[alias]
  ca = commit --amend
  ce = commit --allow-empty --message
  cm = commit --message
  fe = fetch origin
  ig = update-index --assume-unchanged
  lo = log --follow --
  pl = pull --recurse-submodules
  pu = push --follow-tags --recurse-submodules=check --set-upstream origin HEAD
  rb = rebase --rebase-merges
  rs = restore
  sa = stash
  st = status
  sw = switch

[core]
  excludesfile = ~/.config/git/ignore
  pager = delta

[credential]
  helper = store

[delta]
  navigate = true
  side-by-side = true

[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = zdiff3

[pull]
  rebase = true

[push]
  default = current

[url "git@n0bra1n3r.github.com"]
  insteadOf = git@github.com

[user]
  name = Ryan Blonna
  email = n0.b741n37+Github@gmail.com
