[submodule ".ssh/keys"]
	path = .ssh/keys
	url = https://gitlab.com/n0brain3r/dotfiles-ssh-keys
[submodule "AppData/Roaming/Zed"]
	path = AppData/Roaming/Zed
	url = git@github.com:n0bra1n3r/.config-zed.git
[submodule ".config/zed"]
	path = .config/zed
	url = https://github.com/n0bra1n3r/.config-zed
